<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidhive.info.itraveller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="androidhive.info.itraveller.volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ilogo"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="androidhive.info.itraveller.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidhive.info.itraveller.activity.RegionPlace"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidhive.info.itraveller.activity.MainActivity" />
        </activity>
        <activity
            android:name="androidhive.info.itraveller.activity.TestActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.HotelRoomActvity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.FlightDomesticActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.SummaryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.TransportationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.PlanTrip"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.dragsort.DragAndSort"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.FlightActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.dragsort.AirportList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.ActivitiesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="androidhive.info.itraveller.activity.HotelActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
